concurrency:
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}
  group: ci-${{ github.head_ref || github.ref_name }}
jobs:
  build:
    name: ${{ matrix.attrs.name }} (${{ matrix.attrs.hostPlatform }})
    runs-on: ${{ matrix.attrs.runsOn }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        persist-credentials: false
    - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a
      with:
        extra-conf: |-
          accept-flake-config = true
          always-allow-substitutes = true
          builders-use-substitutes = true
          max-jobs = auto
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
      with:
        key: nix-eval-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.lock')
          }}
        path: ~/.cache/nix
        restore-keys: nix-eval-${{ runner.os }}-${{ runner.arch }}-
    - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        extraPullNames: nix-community
        name: nix-config
    - name: nix-fast-build
      run: nix run 'git+file:.#nix-fast-build' -- --no-nom --skip-cached --retries=3
        --option accept-flake-config true --flake='git+file:.#${{ matrix.attrs.attr
        }}'
    strategy:
      fail-fast: false
      matrix:
        attrs:
        - attr: nixosConfigurations.desktop.config.system.build.toplevel
          hostPlatform: x86_64-linux
          name: desktop
          runsOn: ubuntu-24.04
        - attr: nixosConfigurations.laptop.config.system.build.toplevel
          hostPlatform: x86_64-linux
          name: laptop
          runsOn: ubuntu-24.04
        - attr: nixosConfigurations.work.config.system.build.toplevel
          hostPlatform: x86_64-linux
          name: work
          runsOn: ubuntu-24.04
    timeout-minutes: 60
  check:
    if: always()
    needs:
    - flake-check
    - build
    runs-on: ubuntu-24.04
    steps:
    - uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe
      with:
        jobs: ${{ toJSON(needs) }}
    timeout-minutes: 60
  flake-check:
    name: flake check (${{ matrix.systems.platform }})
    runs-on: ${{ matrix.systems.os }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        persist-credentials: false
    - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a
      with:
        extra-conf: |-
          accept-flake-config = true
          always-allow-substitutes = true
          builders-use-substitutes = true
          max-jobs = auto
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
      with:
        key: nix-eval-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('flake.lock')
          }}
        path: ~/.cache/nix
        restore-keys: nix-eval-${{ runner.os }}-${{ runner.arch }}-
    - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        extraPullNames: nix-community
        name: nix-config
    - name: nix flake check
      run: nix flake check 'git+file:.'
    - name: nix flake show
      run: nix flake show 'git+file:.'
    strategy:
      matrix:
        systems:
        - os: ubuntu-24.04
          platform: x86_64-linux
    timeout-minutes: 60
name: ci
'on':
  pull_request: {}
  push:
    branches:
    - master
    - try
  workflow_dispatch: {}
permissions: {}
